doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap' rel='stylesheet')
    link(href='./styles/styles.scss' rel='stylesheet')
    title Joris Calvat
    script(src="./index.ts") 
  body
    div.main
      h1
        span.name JORIS CALVAT
        span.intro In charge of IT development
      nav.menu
        a
          span Who am I ?
        a
          span Career
        a
          span Personal projects
        a
          span Thoughts
      // div C'est lorsque tu jetes une pièce à la mer que tu trouves un trésor
